         <div class="home-container">
            <article class="home-content">
                <div class="home-content-title">
                    <h1>Ahoj, volám sa <span class="home-nowrap">Marek Hurtoš</span></h1>
                    <h2>
                        Frontend web developer
                    </h2>
                </div>
                <p>
                    Som <strong>junior frontend developer</strong>, 
                    pracujuci na tvorbe a vývoji webových stránok 
                     a webovýh aplikácií­
                </p> 
             </article>
           
            <div class="contentImg">
                <img src="./assets/img/Home_bg.svg" alt="">
            </div>
       </div>


