
.profil-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.profil-img{
    width: 200px;
    height: auto;
}

.profil-about{
    width: 60%;
    text-align: center;
    margin: 2rem 0 5rem 0;
    font-size: 1rem;
    line-height: 1.8rem;
}

.profil-about strong{
    color: var(--colorFour);
    font-weight: 900;
}

@media screen and (max-width:640px){

.profil-img{
    width: 200px;    
}

.profil-container{
    width: 100%;
    text-align: center;
}

.profil-content p{
    font-size: 0.7rem;
}
.profil-name{
    margin: 0.5rem;
    color: #00ADB5;
}
}