<section class='profil-container'>
    <img class="profil-img" src="./assets/img/Profil-img.jpg" alt="best_foto_ever" />
      <article class='profil-about'>
            Ahoj, volám sa <strong>Marek Hurtoš, mám 27 rokov</strong> a som začí­najúci frontend developer v <strong>React</strong>.
            Chcem <strong>pracovať, učiť sa a zí­skavať skúsenosti </strong> pri tvorbe webových stránok a webových aplikácií­.
            Tato práca ma zaujala svojou kraetivitou a možnostami pri tvorbe obashu.
            Som <strong>pracovitý, cieľavedomý </strong> s dôrazom na dôkladnú prácu.
            Preferujem <strong>prácu v kolektíve</strong>, kde je viac schopnosti, skúsenosti­ a prináša to lepšiu náladu pri práci.
      </article>
  </section>
