<form>
    <div>
<label for="">Sprava</label>
</div>
<div class="progress-bar">
    <svg width="30" height="30" viewBox="0,0,20,20">
        <circle
        cx = "10"
        cy = "10" 
        r = "5"
        fill = "transparent"
        stroke = "#ddd"
        stroke-width = "2"
        ></circle>
        <circle
        
        cx = "10"
        cy = "10" 
        r = "5"
        fill = "transparent"
        [attr.stroke] = "stroke"
        stroke-width = "2"
        [attr.stroke-dasharray]  = "strokeArray"
        [attr.stroke-dashoffset] = "strokeOffset"
       
        ></circle>
    </svg>

</div>

</form>
